continut/resurse/persoane.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT persoane (persoana+)>
<!ELEMENT persoana (nume, prenume, varsta, adresa)>
    <!ELEMENT nume (#PCDATA)>
    <!ELEMENT prenume (#PCDATA)>
    <!ELEMENT varsta (#PCDATA)>
<!ELEMENT adresa (strada, numar, localitate, judet, tara)>
    <!ELEMENT strada (#PCDATA)>
    <!ELEMENT numar (#PCDATA)>
    <!ELEMENT localitate (#PCDATA)>
    <!ELEMENT judet (#PCDATA)>
    <!ELEMENT tara (#PCDATA)>
<!ATTLIST persoana id CDATA #REQUIRED>